<pip-title h3>File Explorer</pip-title>
<p>Search through the device's SD files and directories.</p>
<pip-button
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isReadingFile() ||
    signals.isUploadingFile()
  "
  (click)="refresh()"
>
  {{ isInitialized ? 'Refresh Files' : 'Load Files' }}
</pip-button>

@if (signals.isConnected() && this.isInitialized) {
<mat-tree #tree [dataSource]="fileTree()" [childrenAccessor]="childrenAccessor">
  <!-- BRANCH -->
  <mat-tree-node
    *matTreeNodeDef="let branch"
    [class.disabled]="branch.type === 'dir'"
    matTreeNodePadding
  >
    <button mat-icon-button [disabled]="branch.type === 'dir'">
      <mat-icon fontSet="material-icons-outlined">
        {{ getBranchIcon(branch) }}
      </mat-icon>
    </button>
    {{ branch.name }}&nbsp;
    <span>
      {{ branch.type === 'dir' ? ' (empty)' : '' }}{{
      getSizeDisplay(branch.size) }}
    </span>
    <mat-icon
      (click)="deleteFile(branch)"
      class="delete-file"
      fontSet="material-icons-outlined"
    >
      delete
    </mat-icon>
    @if (branch.type === 'dir') {
    <mat-icon
      (click)="deleteDirectory(branch)"
      class="delete-directory"
      fontSet="material-icons-outlined"
    >
      delete
    </mat-icon>
    }
  </mat-tree-node>
  <!-- TREE -->
  <mat-tree-node
    *matTreeNodeDef="let branch; when: hasChild"
    matTreeNodePadding
    matTreeNodeToggle
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + branch.name"
    >
      <mat-icon fontSet="material-icons-outlined" class="mat-icon-rtl-mirror">
        {{ getTreeIcon(tree, branch) }}
      </mat-icon>
    </button>
    {{ branch.name }}
  </mat-tree-node>
</mat-tree>
}
