@use '../../../styles/animations/border-animation' as ani;
@use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
@use '../../../styles/scrollbar' as sb;
@use '../../../styles/variables' as var;

:host {
  border: 2px dashed transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    @include ani.borderAnimation;
  }
}

pip-title {
  margin-top: 0;
  text-align: start;
  width: 100%;
}

pip-button {
  margin-bottom: 1rem;
  width: 100%;
}

mat-tree {
  border-radius: 4px;

  mat-tree-node {
    display: flex;
    align-items: center;

    mat-icon.delete-file,
    mat-icon.delete-directory {
      display: none;
      margin-left: auto;
      margin-right: 1rem;
      visibility: hidden;
    }

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        background-color: col.$pip-green-light;

        mat-icon.delete-file {
          display: block;
          visibility: visible;
        }
      }
    }

    &:hover mat-icon.delete-directory {
      display: block;
      cursor: pointer;
      visibility: visible;
    }

    span {
      font-size: 10px;
    }
  }
}
