<pip-title h3>Owner Information</pip-title>

<pip-button
  (click)="resetOwnerName()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Reset Name
</pip-button>

<form [formGroup]="formGroup">
  <pro-input
    [formControl]="formGroup.controls.name"
    appearance="fill"
    label="Owner Name"
    placeholder="Set Owner Name"
  ></pro-input>
</form>

<pip-button
  (click)="setOwnerName()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile() ||
    formGroup.controls.name.value === signals.ownerName()
  "
>
  Save Name
</pip-button>
