<pip-title h3>Misc Functions</pip-title>
<pip-button
  (click)="checkBattery()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="check-battery-button"
>
  Check Battery Level
</pip-button>
<pip-button
  (click)="getSDCardMBSpace()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="check-sd-button"
>
  Check SD Card Space
</pip-button>
<pip-button
  (click)="logAllDirectoryContents()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="view-sd-button"
>
  View Device Contents
</pip-button>
<pip-button
  (click)="stopAllSounds()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="stop-all-sounds-button"
>
  Stop All Sounds
</pip-button>
