<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.sitemap %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | date("YYYY-MM-DD") }}</lastmod>
    <changefreq>{{ page.data.changefreq or "weekly" }}</changefreq>
    <priority>{{ page.data.priority or "0.8" }}</priority>
  </url>
  {% endfor %}
</urlset>
