<pip-title h3>Primary Functions</pip-title>
<pip-button
  (click)="connect()"
  [disabled]="
    signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="connect-button"
>
  {{ signals.isConnected() ? 'Connected' : 'Connect' }}
</pip-button>
<pip-button
  (click)="disconnect()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  class="disconnect-button"
>
  Disconnect
</pip-button>
<pip-button
  (click)="sleep()"
  [disabled]="
    !signals.isConnected() ||
    signals.isSleeping() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Sleep
</pip-button>
<pip-button
  (click)="wake()"
  [disabled]="
    !signals.isConnected() ||
    !signals.isSleeping() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Wake
</pip-button>
<pip-button
  (click)="restart()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Restart
</pip-button>
<pip-button
  (click)="shutdown()"
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
>
  Shutdown
</pip-button>
