@use '../../../styles/animations/border-animation' as ani;
@use '../../../styles/breakpoints' as bps;
@use '../../../styles/colors' as col;
@use '../../../styles/scrollbar' as sb;

:host {
  box-sizing: border-box;
  border: 2px dashed transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  &:hover {
    @include ani.borderAnimation;
  }
}

h3 {
  margin-top: 0;
}

pip-button {
  flex: 0 1 calc(50% - 0.5rem);

  &.connect-button,
  &.disconnect-button,
  &.maintenance-button,
  &.connect-tab-button {
    flex: 0 1 calc(100%);
  }

  @include bps.media('max', 'sm') {
    flex: 0 1 calc(100%);
  }
}
