<pip-title h3>File Uploader</pip-title>
<p>
  Upload any file to the device. The file will be stored in the device's SD
  card. You can use the file explorer to see the files you have uploaded.
</p>

<h4>Notes:</h4>
<ul>
  <li>Try not to upload too much at once, it can time out after a bit.</li>
  <li>Always be cautious of remaining memory on the device.</li>
</ul>

<form [formGroup]="formGroup">
  <pip-file-upload
    [accept]="['*/*']"
    [formControl]="formGroup.controls.files"
    label="Select File(s)"
    multiple
  />
  <pro-input-dropdown
    [formControl]="formGroup.controls.dropdown"
    label="Upload to a pre-existing directory"
    placeholder="Select a folder"
  >
    @if (dropdownOptionsChanges | async; as dropdownOptions) {
    <pro-input-dropdown-option
      [value]="null"
      [disabled]="!formGroup.controls.dropdown.value"
      >❌ CLEAR</pro-input-dropdown-option
    >
    @for (option of dropdownOptions; track option.path; let isLast = $last) {
    <pro-input-dropdown-option [value]="option.path">
      {{ getIndentedName(option.path, isLast) }}
    </pro-input-dropdown-option>
    } } @else {
    <pro-input-dropdown-option [value]="null" disabled>
      Loading...
    </pro-input-dropdown-option>
    }
  </pro-input-dropdown>
  <pro-input
    [formControl]="formGroup.controls.customDirectory"
    label="Upload to a custom directory"
    placeholder="YOUR/CUSTOM/FOLDER"
  />
</form>

<pip-button
  (click)="uploadFilesToDevice()"
  [disabled]="formGroup.invalid || (disabledChanges | async)"
>
  Start Upload
</pip-button>
