<pip-title h3>Set to Custom Date and Time</pip-title>
<form [formGroup]="formGroup">
  <pro-input-datepicker
    [formControl]="formGroup.controls.date"
    appearance="fill"
    label="Date"
    placeholder="Enter or select a date"
  ></pro-input-datepicker>
  <pro-input-timepicker
    [formControl]="formGroup.controls.time"
    appearance="fill"
    interval="1min"
    label="Time"
    placeholder="Enter or select a time"
  ></pro-input-timepicker>
  <pro-input
    [formControl]="formGroup.controls.second"
    appearance="fill"
    label="Second"
    placeholder="Enter second"
    type="number"
  ></pro-input>
</form>

<div class="button-container">
  <pip-button
    [disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile() ||
      (formGroup.controls.date.value === null &&
        formGroup.controls.time.value === null)
    "
    (click)="clearForm()"
  >
    Clear
  </pip-button>
  <pip-button
    [disabled]="
      !signals.isConnected() ||
      signals.disableAllControls() ||
      signals.isUploadingFile()
    "
    (click)="setDateTime()"
  >
    Set
  </pip-button>
</div>

<pip-title h3>Set to Current Date and Time</pip-title>
<span class="time"
  >{{ timeChanges | async | dateTime: 'yyyy-MM-dd h:mm:ss a' }}</span
>
<pip-button
  [disabled]="
    !signals.isConnected() ||
    signals.disableAllControls() ||
    signals.isUploadingFile()
  "
  (click)="setDateTimeCurrent()"
  >Set</pip-button
>
